@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --ubuntu: 'Ubuntu', sans-serif;
    --red: red;
}
html {
   font-size: 62.5%;   
  scroll-behavior: smooth;
}

body {
 height: 100%;
 width: 100%; 
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.10)url('../img/sss.jpg');
    background-size: cover;
    background-blend-mode: darken;
    position: fixed;
    z-index: 5;
}
    .sec-left {
    width: 60%;
    
    display: flex;
    justify-content: space-around;
}

    .sec-right {
      
       width: 40%;
       display: flex;
       justify-content: center;
       align-items: center;
}
.nav-bar ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 2rem;
    align-items: center;
    margin: .3rem .3rem;
    
}
.nav-bar ul li {
    list-style: none;
    
}
.fa-search {
    color: white;
}
.nav-bar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--ubuntu);
}
.nav-bar img {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 6rem;
    margin: .8rem .8rem;
}
#inp-nav {                                          
    border: 3px solid white;
    border-radius: 9px;
    height: 3rem;
    width: 300px; 
    color: white;
    background-color: transparent;
    padding: 0.3rem 0.3rem;
    font-family: var(--ubuntu);
}
.btn-sm {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 2rem;
    margin-left: 1rem;
}
.nav-bar ul li a:hover {
   color: rgb(255, 187, 187); 
}
.home {
    background: rgba(0, 0, 0, 0.014);
    background-image: url('../img/sss.jpg');
    background-size: cover;
    height: 100rem;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ctn-bx-hm {
    /* background-color: aqua; */
    width: 80rem;
    height: 40rem;
    /* position: absolute;
    top: 350px;
    z-index: 1; */
}
.hone {
    color: white;
    font-family: var(--ubuntu);
    font-size: 5rem;
}
.dynamic-text {
    color: rgb(245, 117, 117);
    position: relative;
    height: 4.7rem;
    
}
.dynamic-text::before {
    content: "";
   position: absolute ;
   top: 0;
   left: 100%;
   width: 1px;
   height: 100%;
   border-right: 2px solid rgb(245, 117, 117);
   animation: tick 1s linear infinite;

}
.intd {
    color: white;
    font-size: 3rem;
    font-family: var(--ubuntu);
}   
#abtm {
    height: 55rem;
    width: 100%;
    
}
@keyframes tick {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.About-me {
    font-family: var(--ubuntu);
    font-size: 10em;
    margin: 10rem 10rem 3rem 10rem;
    text-decoration: underline;
    user-select: none;
}
.abtm 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    flex-wrap: wrap;
}
.A43210 {
    width: 30rem;
    height: 30rem;
   
}
.img-holder-abtm {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50rem;
  
   margin: 0 auto;

}
#ctus {
    height: auto;
    background-image: url('../img/sss.jpg');
    background-size: 100%;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bas-text{
    color: white;
    font-family: var(--ubuntu);
    font-size: 2.5rem;
    margin: 0 auto;
}
.bio {
    font-family: var(--ubuntu);
    font-size: 3rem;
    
    padding: 2rem 0rem 0 5rem;
    
}
.btn-proj {
   padding: 1.5rem 3rem;
   font-family: var(--ubuntu);
   font-size: 2rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 2.5rem;
    margin-left: 5rem;
    margin-top: 2rem;
    transition: 0.4s ease-in-out;
}
.btn-proj:hover {
    background-color: black;
    color: white;
}
.bas-inp {
    width: 70%;
    margin: 0 auto;
    height: 4vh;
    padding: auto;
    font-family: var(--ubuntu);
  
    font-size: 2rem;
}
#bio {
   
    height: 40rem;
    /* background-color: rgb(255, 97, 97); */
    display: flex;
    width: 100%;
    flex-direction: column;
}
.inp-lrg {
    height: 20vh;
    padding: .3rem;
}
.btn-ch {
    width: 15%;
    padding: 1.5rem 3rem;
   font-family: var(--ubuntu);
   font-size: 2rem;
    background-color: rgb(255, 255, 255);
   border: none;
    border-radius: 2.5rem;
    margin: 1rem auto;
    color: rgb(3, 3, 3);
    text-decoration: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soci {
    color: white;
    border: 0.2rem solid white;
    font-size: 3rem;
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.soci2 {
    margin-left: 0.8rem  
}
.ics {
    display: flex;
   
}
.ctform, .formdesign {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formerror {
    margin: 0 auto;
    color: red;
    font-family: var(--ubuntu);
    font-size: 1.2rem;
}
 @media screen and (max-width:700px) {
   html {
       font-size: auto;
   }
  
  
  } 
 @media screen and (max-width:1300px) {

   .A43210{
       display: none;
   }
   .img-holder-abtm {
       display: none;
   } 
  } 